.dashboard {

  label {
    text-transform: uppercase;
    letter-spacing: rem-calc(1);
    font-size: rem-calc(11);
  }

  .callout {
    p {
      font-size: rem-calc(16);

      a {
        text-decoration: underline;
        padding: rem-calc(3);
      }
    }
  }

  .sectionTitle {
    margin-bottom: $column-gutter / 2;

	&:before {
		content: "";
		position: relative;
		float: left;
		width: rem-calc(25);
		height: rem-calc(25);
		margin-right: rem-calc(10);
		background: url('../img/dashboard-icon.png') no-repeat;
		background-size: cover;
	}

    &.section {
      &:before {
        content: "";
        position: relative;
        float: left;
        width: rem-calc(22);
        height: rem-calc(22);
        margin-right: rem-calc(10);
        background: url('../img/dashboard-section-icon.jpg') no-repeat;
        background-size: cover;
      }
    }

	h1 {
		font-size: rem-calc(18);
		font-weight: 700;
		text-transform: uppercase;
		padding-bottom: 0;
		font-family: "Lato", sans-serif;
    }

    h3 {
      font-size: rem-calc(16);
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .filter_delete {
    text-transform: uppercase;
    font-size: rem-calc(12);
    letter-spacing: 1px;
  }

}