.dataTables_wrapper {

  label {
    text-transform: uppercase;
    font-size: rem-calc(11);
    letter-spacing: rem-calc(1);
  }

  .dataTable {
    margin-bottom: $column-gutter;

    th {
      padding-left: rem-calc(10);
    }

    .child {
     ul {
       li {
         padding: 0;

         .dtr-title,
         .dtr-data,
         .dtr-type {
           font-size: rem-calc(12);
         }

         @media #{$medium-up} {
           .dtr-title {
             width: rem-calc(100);
           }
         }

       }
     }
    }

  }

  .DTTT_container {
    .DTTT_button {
      margin-right: rem-calc(10);
      padding: rem-calc(11);
      line-height: 1;
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: 0;
      box-shadow: 0;
    }
  }

  .dataTables_length {
    padding-right: rem-calc(20);
  }

  .dataTables_filter {
    input {
      margin: 0 auto rem-calc(15);
      width: 100%;
    }

    @media #{$medium-up} {
      width: rem-calc(250);
      margin: 0;
    }
  }
}