html, body {
  padding: 0;
  margin: 0;
  font-family: $body-font-family;
}

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

a {
  transition: all 150ms ease-in-out;
}

.button {
	text-transform: uppercase;
	letter-spacing: rem-calc(1);
	color: $primary-color;

	&:hover {
		color: #fff;
	}
}

.sectionTitle {
	text-transform: uppercase;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	box-shadow: none;

	&:active {
		box-shadow: none;
	}
	&:focus {
		box-shadow: none;
	}
}

table {
  td {
    input[type="file"],
    input[type="checkbox"],
    input[type="text"],
    input[type="radio"],
    select {
      margin: 0!important;
    }
  }
}

