<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="nl" > <![endif]-->
<html class="no-js" lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atabix Management Tool</title>
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../components/modernizr/modernizr.js"></script>
</head>
<body>


<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

        <a class="left-off-canvas-toggle menu-icon" href="#" ><span></span><span></span><span></span></a>

        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            <!-- whatever you want goes here -->
            <ul>
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
                <li><a href="#">Item 4</a></li>
                <li><a href="#">Item 5</a></li>
                <li><a href="#">Item 6</a></li>
            </ul>
        </aside>

        <!-- Entire body starts here actually -->

        <div class="pageHeader"><!-- So we got our sticky header -->
            <div class="topBar">
				<div class="row fullWidth">

					<div class="small-12 medium-2 columns"> <!-- left column -->
						<div class="logoWrapper left">
							<a class="logo" href="#"></a>
						</div>
					</div>

					<div class="small-12 medium-8 large-7 columns"> <!-- main column -->
						<div class="searchBar-wrapper">
							<input type="text" class="searchbar">
						</div>
					</div>

					<div class="small-12 medium-2 large-3 columns"> <!-- right column -->
						<div class="userContainer right">

							<a class="button radius right show-for-medium-up" href="#">Uitloggen</a>

						</div>
					</div>
				</div>
			</div>

            </div>
        </div> <!-- End of our sticky-icky-icky header -->

        <div class="pageContent"> <!-- This is where all the magic happens -->
            <div class="row fullWidth">

				<div class="small-12 medium-2 columns leftPanel"> <!-- left column -->

					<nav class="navigation">
						<div id='cssmenu'>
							<ul>
								<li><a href='#'><span>Home</span></a></li>
								<li class='active has-sub'><a href='#'><span>Dashboard</span></a>
									<ul>
										<li class='has-sub'><a href='#'><span>user settings</span></a>
											<ul>
												<li><a href='#'><span>nog dieper</span></a></li>
												<li class='last'><a href='#'><span>jaja..</span></a></li>
											</ul>
										</li>
										<li class='has-sub'><a href='#'><span>Support</span></a>
											<ul>
												<li><a href='#'><span>Sub Product</span></a></li>
												<li class='last'><a href='#'><span>Sub Product</span></a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href='#'><span>Projecten</span></a></li>
								<li><a href='#'><span>Planning</span></a></li>
								<li><a href='#'><span>Git Manager</span></a></li>
								<li class="has-sub"><a href='#'><span>Uren</span></a>
									<ul>
										<li><a href='#'><span>Sub Product</span></a></li>
										<li class='last'><a href='#'><span>Sub Product</span></a></li>
									</ul>
								</li>
								<li class='last'><a href='#'><span>Mijn atabix</span></a></li>
							</ul>
						</div>
					</nav>

				</div>

				<div class="small-12 medium-10 large-7 columns mainPanel"> <!-- main column -->

					<div class="dashboard">
						<header class="sectionTitle"><h1>Dashboard</h1></header>

						<div class="row">
							<div class="small-12 columns">
								<div class="panel callout"></div>
							</div>
							<div class="small-12 medium-6 columns">
								<div class="panel callout"></div>
							</div>
							<div class="small-12 medium-6 columns">
								<div class="panel callout"></div>
							</div>

							<div class="small-12 columns">
								<div data-alert="" class="alert-box radius">
									This is a standard alert (div.alert-box.radius).
									<a href="" class="close">×</a>
								</div>

								<div data-alert="" class="alert-box success">
									This is a success alert (div.alert-box.success).
									<a href="" class="close">×</a>
								</div>

								<div data-alert="" class="alert-box secondary">
									This is a secondary alert (div.alert-box.secondary).
									<a href="" class="close">×</a>
								</div>

								<a href="#" data-reveal-id="myModal" class="button large rounded">Click Me For A Modal</a>

								<div id="myModal" class="reveal-modal" data-reveal>
									<h2>Awesome. I have it.</h2>
									<p class="lead">Your couch.  It is mine.</p>
									<p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
									<a class="close-reveal-modal">&#215;</a>
								</div>
							</div>

							<div class="small-12 columns">
								<form>
									<div class="row">
										<div class="large-12 columns">
											<label>Input Label</label>
											<input type="text" placeholder="large-12.columns" />
										</div>
									</div>
									<div class="row">
										<div class="large-4 medium-4 columns">
											<label>Input Label</label>
											<input type="text" placeholder="large-4.columns" />
										</div>
										<div class="large-4 medium-4 columns">
											<label>Input Label</label>
											<input type="text" placeholder="large-4.columns" />
										</div>
										<div class="large-4 medium-4 columns">
											<div class="row collapse">
												<label>Input Label</label>
												<div class="small-9 columns">
													<input type="text" placeholder="small-9.columns" />
												</div>
												<div class="small-3 columns">
													<span class="postfix">.com</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="large-12 columns">
											<label>Select Box</label>
											<select>
												<option value="husker">Husker</option>
												<option value="starbuck">Starbuck</option>
												<option value="hotdog">Hot Dog</option>
												<option value="apollo">Apollo</option>
											</select>
										</div>
									</div>
									<div class="row">
										<div class="large-6 medium-6 columns">
											<label>Choose Your Favorite</label>
											<input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
											<input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
										</div>
										<div class="large-6 medium-6 columns">
											<label>Check these out</label>
											<input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
											<input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
										</div>
									</div>
									<div class="row">
										<div class="large-12 columns">
											<label>Textarea Label</label>
											<textarea placeholder="small-12.columns"></textarea>
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>

				<div class="small-12 medium-10 large-3 columns rightPanel"> <!-- right column -->

					<header class="sectionTitle"><h2>Additional</h2></header>

					<div class="panel callout"></div>
				</div>
			</div>
        </div>

        <div class="pageFooter"> <!-- And ofcourse, the footer.. where it belongs. -->
            <footer class="row fullWidth">
                <div class="large-12 columns">
                    <div class="row">
                        <div class="large-6 columns">
                            <p>&copy; Copyright Atabix Solutions. All rights reserved.</p>
                        </div>
                        <div class="large-6 columns">

                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>
    </div>
</div>

<script src="../components/jquery/dist/jquery.min.js"></script>
<script src="../components/foundation/js/foundation.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/cssmenu.js"></script>

</body>
</html>