<!doctype html>

<!–[if IE 7 ]> <html lang="en" class="ie7"> <![endif]–>
<!–[if IE 8 ]> <html lang="en" class="ie8"> <![endif]–>
<!-[if IE 9 ]><html class="lt-ie10" lang="en" ><![endif]->
<!–[if (gt IE 9)|!(IE)]><!–> <html lang="en"><!–<![endif]–>

<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>New project</title>
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="../components/modernizr/modernizr.js"></script>
</head>

<body>

<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </aside>

        <!-- pageHeader -->
        <div class="pageHeader"></div>

        <!-- pageContent starts here -->
        <div class="pageContent"></div>

        <!-- pageFooter -->
        <div class="pageFooter"></div>

        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</div>

<!-- Libraries -->
<script src="../components/jquery/dist/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="../components/foundation/js/foundation.min.js"></script>
<script src="../components/foundation/js/foundation/foundation.offcanvas.js"></script>
<script src="../components/fastclick/lib/fastclick.js"></script>

<!-- build:js /static/js/project.js -->
Hier komen je project gerelateerde scripts
<!-- endbuild -->

<script src="../js/init.js

    </body>
</html>